// General Resets


// Box Sizing Reset
* {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

// Image Reset
img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

// Remove Margins on the body and elements
body,
h1,
h2,
h3,
p {
    margin: 0;
}